<footer class="fooo">
    <div class="content">
        <div class="header-shortcut">
            <div class="sc-header">
                <ul>
                    <li><a>INÍCIO</a></li>
                    <li><a>CURSOS</a></li>
                    <li><a>ASSINATURA</a></li>
                    <li><a>AFILIADOS</a></li>
                </ul>
            </div>
            <div class="sc-social-media">
                <ul class="sc-social-media">
                    <li><a href="https://www.instagram.com/cod3rcursos/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/cod3rcursosonline/"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHUCi7EtsaRBAAAAXLx5NuYHYW0DiotXGRWL6_TWcpo48BmO1jPdlNMCSyQ2m2bVvRrVCDm1dpQte01hwsDduZ44dVHf5p7hb-FHXWrwGYEe4euDDlR158OWTTbhHqeUUqPxV8=&originalReferer=https://www.cod3r.com.br/&sessionRedirect=https%3A%2F%2Fpt.linkedin.com%2Fcompany%2Fcod3r"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <p class="copyright">© Copyright Cod3r 2020</p>
    </div>
</footer>