<section class="courses-cards">
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/bundles/bundle_card_image_000/031/714/1592404518.original.png?1592404518"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/780/0051592190326.medium.png?1592190326"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/553/3471586010235.medium.jpg?1586010235"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/678/3951592023533.medium.png?1592023533"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/561/4261585225481.medium.jpg?1585225481"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
    <div class="cards-content">
        <div class="desc-course">
            <p class="course-title">Todos os cursos</p>
            <h2>Plano de Assinatura - Tenha Acesso a Todos os Cursos da Plataforma por 1 Ano</h2>
            <p class="course-price">12 X R$39,00</p>
        </div>
        <div class="img-card">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/557/0631585223856.medium.jpg?1585223856"
                alt="card-img" style="width: 100%;">
        </div>
    </div>
</section>