body{
    box-sizing: border-box;
}

/* header */

header {
    background: black;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header-container {
    background: rgba(5, 0, 0, 0.5);
}
nav {
    display: flex;    
}
.nav-links {
   margin-top: 5.5vh; 
}
.logo-img {
    margin-top: 5.5vh;
    width: 15vw;
    height: 5vh;
}
nav li {
    display: inline-block;
    margin: 0 1.5vw;
}
li a:hover:not(.active) {
   color: white;
   }
li a.active {
    color: rgb(172, 172, 172);
}
nav a {
    text-decoration: none;
    color: #eee;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}