<header class="header">
    <div class="header-container">
        <a routerLink="">
            <img class="logo-img" src="https://s3.amazonaws.com/thinkific-import/220759/rp2bPTljRq2Q8vCtGexy_LOGOTIPO-CODER-FUNDOTRANSPARENTE-2.png" alt="cod3r-logo">
        </a>        
    </div>
    <nav>
        <div class="nav-links">
            <ul>
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">INICIO</a></li>
                <li><a routerLink="/courses" routerLinkActive="active">CURSOS</a></li>
                <li><a routerLink="" routerLinkActive="active">ASSINATURA</a></li>
                <li><a routerLink="" routerLinkActive="active">AFILIADOS</a></li>
                <li><a routerLink="/login" routerLinkActive="active">ENTRAR</a></li>
            </ul>
        </div>
    </nav>
</header>

