
.main {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.8)),url('https://s3.amazonaws.com/thinkific-import/220759/DWr0zrBLRvuMXzC7a35Q_designer-at-work-PP4VS27%20pbcopy.jpg');
    height: 54vh;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: bolder;
}
header {
    color: white;
}
.article-content {
    display: flex;
    width: 60vw;
    padding: 20vh 10vw;
}
article {
    display: block;
    font-weight: 1000;
}

