<app-navbar></app-navbar>
<div class="main">
    <div class="article-content">
        <article>
            <header>
                <h2 class="article-heading">Estude na Cod3r</h2>
                <p class="article-body">Aprender novas tecnologias e fazer diferença no mercado de trabalho exige dedicação e preparação. A Cod3r se preocupa com o seu futuro e está pronta pra te oferecer os melhores cursos nas principais tecnologias com excelência. Venha estudar com a gente e colocar as suas habilidades como programador em um patamar mais elevado. Os nossos professores e métodos te darão a base e os fundamentos para você aprender os porquês e trilhar os caminhos do sucesso.</p>
            </header>
            <div class="btn-article">
                <button class="new-course"><a>Nossos Cursos</a></button>
                <button class="sub-plan"><a>Plano de Assinatura</a></button>
            </div>
        </article>
    </div>
</div>
    