<app-navbar></app-navbar>
<div class="main">
    <div class="article-content">
        <article>
            <header>
                <h2 class="article-heading">Seja Nosso Afiliado</h2>
                <p class="article-body">Tem um site, blog ou canal no Youtube? Que tal se tornar nosso afiliado e ganhar um excelente percentual sobre todas as vendas da Cod3r geradas através do seu link de afiliados? Invista na Cod3r, umas das escolas de melhor avaliação do País. </p>
            </header>
        </article>
    </div>
</div>
    