/* subheader content */
.main {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.8)),url('https://s3.amazonaws.com/thinkific-import/220759/UdRtaXNOS5Kq6uXQrXuR_woman-hands-working-on-laptop-PQYJ9WK.jpg');
    background-position: 20px;
    height: 62vh;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: bolder;
}
header {
    color: white;
}
.article-content {
    display: flex;
    width: 60vw;
    padding: 10vh 10vw;
}
article {
    display: block;
    font-weight: 1000;
}
button {
    margin: 10px;
    border-radius: 100px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color:rgb(216, 216, 216);
    /* color: white; */
}
.new-course {
    background-color: red;
    border: red 2px solid;
}
.sub-plan {
    background-color: transparent;
    border: rgb(216, 216, 216) 2px solid;
}
.new-course:hover {
    background-color: rgb(134, 3, 3);
    border: rgb(134, 3, 3) 2px solid;
    color: white;
    cursor: pointer;
}
.sub-plan:hover {
    background-color: #eee;
    color: black;
    border: rgb(216, 216, 216) 2px solid;
    cursor: pointer;
}

/* cod3r overview */




